
#mycanvas{
	border: 1px solid #000000;
	height: 90%;
	width: 100%;
}

#searchtools{
	height: 90%;
}

#newSearch{
    margin: 2%;
}

#top{
	height: 10%;
}

.radio{
	padding-top: 1.5%;
    float: left;
}
